In [92]:
import numpy as np 
import pandas as pd

In [93]:
data = pd.read_csv('G:/ml/diabetes/diabetes.csv')

In [94]:
len(data[data['Outcome']==1])

268

In [95]:
print(100*np.mean(data['Outcome'][data['Age']>50]))
print(100*np.mean(data['Outcome'][data['Age']>50]))

46.9135802469
46.9135802469

In [96]:
print(100*np.mean(data['Outcome'][data['Pregnancies']<5]))
print(100*np.mean(data['Outcome'][data['Pregnancies']>=5]))

27.6422764228
47.8260869565

In [97]:
features = data.iloc[:,0:8]
target=data.iloc[:,8:9]

In [98]:
features.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [99]:
features['Pregnancies']=features['Pregnancies'].fillna(np.mean(features['Pregnancies']))

In [100]:
nulls = pd.DataFrame(features.isnull().sum().sort_values(ascending =False)[:])
nulls.columns = ['Null count']
nulls.index.name = 'Feature'
nulls

                          Null count
Feature
Age                                0
DiabetesPedigreeFunction           0
BMI                                0
Insulin                            0
SkinThickness                      0
BloodPressure                      0
Glucose                            0
Pregnancies                        0

In [101]:
from sklearn.model_selection import train_test_split
features_train,features_test,target_train,target_test =train_test_split(features,target,random_state = 42,test_size=0.11)

In [102]:
from sklearn import linear_model
clf =linear_model.LogisticRegression(random_state=0,max_iter=100)
clf.fit(features_train,target_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=0, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [103]:
from sklearn.metrics import accuracy_score
print(accuracy_score(target_train,clf.predict(features_train)))
print(accuracy_score(target_test,clf.predict(features_test)))

0.7745241581259151
0.7411764705882353